<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peake.webseed.feature.merchant.mapper.MerchantChartMapper">
  <resultMap id="BaseResultMap" type="com.peake.webseed.feature.merchant.model.MerchantChart">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="pk_id" jdbcType="BIGINT" property="pkId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="data_status" jdbcType="INTEGER" property="dataStatus" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="order_count" jdbcType="INTEGER" property="orderCount" />
    <result column="bonus_cal_type" jdbcType="INTEGER" property="bonusCalType" />
    <result column="bonus_ratio" jdbcType="DOUBLE" property="bonusRatio" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
    <result column="cal_bonus" jdbcType="DECIMAL" property="calBonus" />
    <result column="real_bonus" jdbcType="DECIMAL" property="realBonus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="fk_merchant_id" jdbcType="BIGINT" property="fkMerchantId" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="month" jdbcType="VARCHAR" property="month" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>

  <select id="getMerchantMonthAmount" resultMap="BaseResultMap">
    SELECT
    COUNT( pk_id ) order_count,
    SUM( total_fee ) total_amount,
    SUM( pay_fee ) pay_amount
    FROM
    tbl_order
    WHERE
    create_time &gt;= #{startTime}
    AND create_time &lt;  #{endTime}
    AND order_status IN ( 1, 3, 4, 5 )
    AND fk_merchant_id =  #{merchantId}
  </select>

  <select id="getMerchantChartByTime" resultMap="BaseResultMap">
    SELECT
   *
    FROM
    tbl_merchant_chart
    WHERE 1=1
    AND start_date = #{startTime}
    AND end_date =  #{endTime}
    AND fk_merchant_id =  #{merchantId}
  </select>

  <select id="findMapByCustomPage" resultType="java.util.HashMap">
    SELECT
    mc. NAME name,
    mc.data_status dataStatus,
    mc.create_time createTime,
    mc.update_time updateTime,
    IFNULL(mc.order_count,0.00) orderCount,
    mc.bonus_cal_type bounsCalType,
    IFNULL(mc.bonus_ratio,0.00) bounsRatio,
    IFNULL(mc.total_amount,0.00) totalAmount,
    IFNULL(mc.pay_amount,0.00) payAmount,
    IFNULL(mc.cal_bonus,0.00) calBouns,
    IFNULL(mc.real_bonus,0.00) realBouns,
    mc.remark remark,
    m.name merchantName
    FROM
    tbl_merchant_chart mc
    LEFT JOIN tbl_merchant m ON m.pk_id = mc.fk_merchant_id

    where m.data_status != -1
    <if test="obj.merchantName != null and obj.merchantName != ''">
      and m.name like  concat('%' ,#{obj.merchantName}, '%')
    </if>

    <if test="obj.dataStatus != null">
      and mc.data_status = #{obj.dataStatus}
    </if>

    <if test="obj.startTime != null and obj.startTime != ''">
      and mc.start_date &gt;= #{obj.startTime}
    </if>

    <if test="obj.endTime != null and obj.endTime != ''">
      and mc.end_date &lt;=  #{obj.endTime}
    </if>

    order by mc.create_time DESC
  </select>
</mapper>