<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peake.webseed.feature.merchant.mapper.MerchantMapper">
  <resultMap id="BaseResultMap" type="com.peake.webseed.feature.merchant.model.Merchant">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="pk_id" jdbcType="BIGINT" property="pkId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="data_status" jdbcType="INTEGER" property="dataStatus" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="device_count" jdbcType="INTEGER" property="deviceCount" />
    <result column="bonus_cal_type" jdbcType="INTEGER" property="bonusCalType" />
    <result column="bonus_ratio" jdbcType="DOUBLE" property="bonusRatio" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <update id="batchDelete">
    update tbl_merchant set data_status ="-1"
    where pk_id in
    <foreach close=")" collection="array" index="index" item="item" open="(" separator=",">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </update>

  <select id="findMerchantCreatedBefore" resultMap="BaseResultMap">
    select
    *
    FROM
    tbl_merchant m
    where m.data_status != -1
    and m.create_time &lt; #{date}
    order by m.create_time desc
  </select>

</mapper>