<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peake.webseed.feature.news.mapper.TvshowMapper">
  <resultMap id="BaseResultMap" type="com.peake.webseed.feature.news.model.Tvshow">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pk_global_id" jdbcType="VARCHAR" property="pkGlobalId" />
    <result column="m_date" jdbcType="DATE" property="mDate" />
    <result column="audio" jdbcType="VARCHAR" property="audio" />
    <result column="have_show" jdbcType="INTEGER" property="haveShow" />
  </resultMap>
</mapper>